*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: 'Poppins', sans-serif;
}
.navbar{
	display: flex;
	align-items: center;
	padding: 20px;
}
.cart{
	display: flex;
	align-items: center;
	padding: 20px;
}
nav{
	flex: 1;
	text-align: right;
	background:radial-gradient(white,black);

}
nav ul{
	display: inline-block;
	list-style-type: none;
}
nav ul li{
	display: inline-block;
	margin-right: 20px;
}
nav ul a{
	color: white;
}
.logo{
	color:white ;
	border-style: groove;
	background-color: black;
}
a{
	text-decoration: none;
	color: #555;
}
p{
	color: #555;
}
.container{
	max-width: 1300px;
	margin: auto;
	padding-left: 25px;
	padding-right: 25px;
}
.row{
	display: flex;/*content will be align left to ri8 instead
	 of top to bottom(By default)*/
	align-items: center;
	flex-wrap: wrap;/* when we shorten the width of webpa
	ge image will not cut and will be within the webpage*/
	justify-content: space-around;
}
.row5{
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}
.row6{
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 550px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	height: 300px;
	width: 500px;
}
.categories .row5 {
	box-shadow: 0 0 20px 0px rgba(0,0,0,0.3);
	transition: transform 0.5s;
}
.categories .row5:hover{
	transform:translateY(-10px);
}
.categories .row6 {
	transition: transform 0.5s;
}
.categories .row6:hover{
	transform:translateY(-10px);
}
.col2{
	flex-basis: 50%;
	min-width: 300px;
}
.col2 img{
	max-width: 100%;
	padding-bottom: 30px;
}
p.col1p{
	padding: 5px 0;
}
.col1 h1{
	font-size: 40px;
	line-height: 60px;
}
.btn{
	display: inline-block;/*coz of inline styling is only till explore now otherwise
	 whole line will be styled*/
	background: black;
	color:white;
	padding: 8px 30px;
	margin: 15px 0;
	border-radius: 30px;
	transition: background 0.5s;
}
.header{
	background:radial-gradient(white,black);
}
.header .row{
	margin: 50px;
}
.btn:hover{
	background:#563434;
}
.col3{
	flex-basis:30%;
	min-width: 250px;
}
.small_container{
	max-width: 1080px;
	margin:auto;
	padding-left: 25px;
	padding-right: 25px; 
	margin-top: -50px;
}
.col4{
	flex-basis: 25%;
	padding: 10px;
	min-width: 200px;
	margin-bottom: 50px;
	box-shadow: 0 0 20px 0px rgba(0,0,0,0.3);
	transition: transform 0.5s;
}
.col4 img{
	width: 100%;
}
.title{
	text-align: center;
	margin:0 auto 30px;
	position: relative;
	margin-top: -50px;
	font-size: 35px;
}
.title::after{
	content: '';/*if w ewrite something in content that will be displayed under the line*/
	background:red;
	width: 300px;
	height: 5px;
	border-radius: 5px;
	position: absolute;
	bottom: 0;
	left: 35%;
}
h4{
	color: #555;
	font-weight: normal;
}
.col4 p{
	font-size: 14px;
}
.rating .fa{
	color: red;
}
.col4:hover{
	transform: translateY(5px);
}
.row1{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-top: 10px;
}
.backcolor{
	background:radial-gradient(white,black);
}
.offer{
	background:radial-gradient(white,black);
}
.small{
	color: #555;
}
.testimonial{
	padding-top: 70px;
}
.testimonial .col3{
	text-align: center;
	padding: 40px 20px;
	box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
	cursor: pointer;
	transition: transform 0.5s;
}
.testimonial .col3 img{
	width: 100px;
	margin-top: 20px;
	border-radius: 50%;
}
.testimonial .col3:hover{
	transform: translateY(-10px);
}
.fa.fa-quote-left{
	color: red;
	font-size: 34px;
}
.fa.fa-quote-right{
	color: red;
	font-size: 34px;
}
/*---------------footer---------------*/
.footer{
	margin-top: 100px;
	color: #8a8a8a;
	background-color: black;
	font-size: 14px;
	padding: 50px 20px;

}
.footer h3{
	color: white;
	margin-bottom:15px;
}
.footer p{
	margin-top: 15px;
}
.footer_col1, .footer_col2,.footer_col3,.footer_col4{
	min-width: 250px;
	margin-bottom: 20px;
}
.footer_col1{
	flex-basis: 30%;
	margin-left: 50px;
}
.footer_col2{
	flex: 1;
	text-align: center;
}
.footer_col3 ,.footer_col4{
	flex-basis: 12%;
	text-align: center;
}
ul{
	list-style-type: none;
}
.applogo img{
	padding: 10px;
	width: 150px;
	margin-left: -10px;
	margin-top: 10px;
}
.copyright{

	text-align: center;
}
.fa.fa-bars{
	width: 28px;
	margin-left: 20px;
	display: none;
}
/*-----------------media query----------------*/
@media only screen and (max-width: 800px)/*All the code written here will b
e applied only to webpage when it is less than 800px*/
{
	nav ul{
		position: absolute;
		top: 75px;
		left: 0;
		background:#333;
		width: 100%;
		overflow: hidden;
		transition: max-height 0.5s;
	}
	nav ul li{
		display: block;
		margin-right: 50px;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	nav ul li a{
		color: white;
	}
	.fa.fa-bars{
		display: block;
		cursor: pointer;
	}
}
/*------------------------ALL product page-------------------------*/
.row3{
	justify-content: space-between;
	margin:50px 0 20px;
}
select{
	border: 1px solid black;
	padding: 5px;
}
select:focus{
	outline: none;
}
.page_btn{
	margin: 0 auto 80px;
}
.page_btn span{
	display: inline-block;
	border:1px solid black;
	margin-left: 10px;
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	cursor: pointer;
}
.page_btn span:hover{
	background:radial-gradient(white,black);
	transition: 0.25s;
	color:black;
}

/*---------------------single product details----------------------*/

.single_product{
	margin-top: 40px;
}
.single_product .col2 img{
	padding: 0;
	box-shadow: 0 0 20px 0px rgba(0,0,0,0.3);
}
.single_product .col2{
	padding: 20px;
}
.single_product h4{
	margin: 20px 0;
	font-size: 22px;
	font-weight: bold;
}
.single_product select{
	display: block;
	padding: 10px;
	margin-top: 20px;
}
.single_product input{
	width: 50px;
	height: 40px;
	padding-left: 10px;
	font-size: 20px;
	margin-right: 10px;
	border:1px solid black;
}
input:focus{
	outline: none;
}
.single_product .fa{
	color:#ff523b;
	margin-left: 10px;
}
.small_img_row{
	display: inline-flex;
	justify-content: space-between;
}
.small_img_col{
	box-shadow: 0 0 20px 0px rgba(0,0,0,0.3);
	flex-basis: 24%;
	cursor: pointer;
}
.small_container .row2{
	justify-content: space-between;
	margin-top: 50px;
}


/*media query for less than 600 screen size(phones)*/

@media only screen and (max-width: 600px)
{
	.row{
		text-align: center;
	}
	.col2 ,.col3,.col4{
		flex-basis: 100%;
	}
	.single_product .row{
		text-align: left;
	}
	.single_product .col2{
		padding: 20px 0;
	}
	.single_product{
		font-size: 26px;
		line-height: 32px;

	}
	/*--------cart page------*/
	.cart_info p{
		display: none;
	}
}
/*-------------cart items-------------------*/

.cart_page{
	margin: 80px auto;
}
table{
	width: 100%;
	border-collapse: collapse;
}
.cart_info{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
th{
	text-align: center;
	padding: 5px;
	color: black;
	background:radial-gradient(white,black);
	font-weight: bold;
}
td{
	padding: 10px 5px;
}
td input{
	width: 40px;
	height: 30px;
	padding: 5px;
}
td a{
	color: red;
	font-size:12px;
}
td img{
	width: 120px;
	height: 120px;
	margin-right: 10px;
}
.total_prize{
	display: flex;
	justify-content: flex-end;
}
.total_prize table{
	border-top: 3px solid black;
	width: 100%;
	max-width:380px;
}
td:last-child{
	text-align: right;
}
th:last-child{
	text-align: right;
}
.place_order{
	text-align: right;
	margin-top: 10px;
}
/*-----------Account page----------*/
.account_page{
	padding: 50px 0;
	background: radial-gradient(white,black);
}
.form_container{
	background: white;
	width: 300px;
	height: 400px;
	position: relative;
	text-align: center;
	padding: 20px 0;
	margin:auto;
	box-shadow: 0 0 20px 0px rgba(0,0,0,0.3);
	overflow: hidden;
}
.form_container span{
	font-weight: bold;
	padding: 0 10px;
	cursor: pointer;
	color: #555;
	width: 100px;
	display: inline-block;
}
.form_btn{
	display: inline-block;
}
.form_container form{
	max-width: 300px;
	padding: 0 20px;
	position: absolute;
	top: 130px;
}
form input{
	width: 100%;
	height: 30px;
	margin:10px 0;
	padding: 0 10px;
	border:1px solid #ccc;
}
form .btn{
	width: 100%;
	border:none;
	cursor: pointer;
	margin:10px 0;
}
form .btn:focus{
	outline: none;
}
#loginform{
	left: -300px;
}
#registerform{
	left: 0;
}